* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 1200px;
  margin: 200px auto;
}

.main_image {
  position: relative;
}
.main_image_text {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate( -40%, -40% );
  color: white;
  font-family: Arial;
  font-size: 65px;
  text-shadow: 0px 0px 10px black;
}