.box1 {
  width: 100px;
  height: 100px;
  background-color: orangered;
  border: 1px solid black;

  /* float: left; */
}

.box2 {
  background-color: aquamarine;
  width: 200px;
}

.left {
  float:left;

}